# Dependencies
node_modules
dist
.netlify

# System files
.DS_Store
Thumbs.db
.vscode

# Large Media Files (Exclude from GitHub)
*.mp4
*.mov
*.MOV
*.heic
*.HEIC
*.jpeg
*.jpg
*.JPG
*.pdf
*.xlsx
*.docx
*.docx

# Specific Large Assets in root
v14044g50000d0m7v2fog65tvh9fc93g.mov
IMG_7182.jpg

# Folders with large content
イベント本番/
動画素材/
public/videos/
public/photos/

# Log files
*.log
